* {
    padding: 0 px;
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

/* nav styles    */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 100px;

}

.logo {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    background-color: #f5f5f5;
}

.signin-button {
    text-decoration: none;

}

.btn {
    color: #006a50;
    border-color: #006a50;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
}

.signin-button:hover {
    background-color: #006a50;
    color: white;
}

/*style in hero content */
.hero {
    margin: 0px 100px 0px 100px;
    padding: 100px;
    display: flex;
    background-color: #C6E4D6;
    align-items: center;
    border-radius: 24px;
    justify-content: space-between;
}

#hero-font {
    font-size: 56px;
    font-weight: bold;
}

.hmedium-font {
    font-size: 24px;
    font-weight: 500;
    color: rgb(14, 14, 14, 50%);
}

.main-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
}

#hbtn {
    background-color: rgb(0, 106, 80);

}

.hbtn:hover {
    background-color: rgb(0, 106, 80, 0.8);
    color: rgb(255, 255, 255);
}

/* piller section styles */
section {
    padding: 100px;
    margin: 0px 0px 0px 0px;

}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section02-pillars {
    text-align: center;
    margin-bottom: 30px;
}

.Pillae-container {
    display: flex;
    justify-content: space-between;


}

.Pillars-cards {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 24px;
    border: solid #ddd;
    border-radius: 16px;
    background-color: #f9f9f9;
    width: 302px;
    height: 244px;

}

.Pillars-cards img {
    padding: 25px;
    width: 50px;
    height: 50px;
}

.Pillars-cards h4 {
    font-size: 20px;
}

.medium-font {
    font-size: 16px;
    font-weight: 500;
    color: rgb(14, 14, 14, 50%);
}

/* style The Vision of Future */

.vision {
    padding: 100px;
    margin: 0px 0px 0px 0px;
}

.vision-contaner {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
}

.Vision-cards {

    margin: auto;
    display: flex;
    flex-direction: row;
    border: none;

    width: 412px;
    height: 327px;


}

.vision-contaner h4 {
    font-size: 20px;
    font-weight: bold;
    color: #0f0f0fd8;
}

.vision-contaner p {
    font-size: 16px;
    color: #0f0f0faf;

}

.Vision-cards img {
    padding: 25px;
    width: 50px;
    height: 50px;

}

.Vision-cards-01 {
    padding: 25px;
    background-color: #548ff53f;
    border-radius: 16px
}

#lbtn-01 {
    background-color: #5490F5;
}

.Vision-cards-02 {
    padding: 25px;
    background-color: #09a15d39;
    border-radius: 16px
}

#lbtn-02 {
    background-color: #09A15C;

}

.Vision-cards-03 {
    padding: 25px;
    background-color: #ffc4393d;
    border-radius: 16px
}

#lbtn-03 {
    background-color: #FFC239;
}

/* Dr. Muhammad Yunus */
.yunus {
    position: relative;
    margin-top: 30px;
    background-color: white;
    border-radius: 16px;
    padding: 25px;

}

.yunus-code {
    position: absolute;

}

.yunus span {
    font-size: 20px;
    font-weight: bold;
    color: #0f0f0fd8;

}

/* opinion table */

table {
    background-color: white;
}

.opinion {
    width: 100%;
    border-collapse: collapse;
    border-color: #ddd;
}

.opinion th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 82px;
}

.opinion th {
    background-color: #09a15d39;
    text-align: left;
    height: 72px;
}

.opinion-select {
    padding: 8px;
    background-color: #09a15d39;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 5px;
}

.semi-bold-font {
    font-size: 20px;
    font-weight: bold;
    color: #0f0f0fd8;
}

/* recent news */
.news-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 25px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 16px;
}

#senter {
    text-align: center;
}

.news-container h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(14, 14, 14, 80%);
}

.news-container img {
    border-radius: 16px;

}

.main-btn-02 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    background-color: #006a50;
}

/* Donate section */
.donation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 24px;

}

.senter {
    text-align: center;
}

.donation-options {
    background-color: #f9f9f9;
    color: rgba(14, 14, 14, 0.75);
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 30px;
    font-weight: bold;
    border-radius: 16px;
    padding: 40px;
    margin: 0px 44px;
}

.donation-options:hover {
    background-color: rgb(179, 219, 200);
    cursor: pointer;
}

#tk {
    background-color: rgba(198, 228, 214);
}
.num{
    text-align: center;
    font-size: 30px;
    padding:0px 300px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #f5f5f5;
    

}


/* Subscribe */
.Subscribe {
    text-align: center;
    margin: 0px 100px 0px 100px;
    padding: 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.Subscribe input {
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;

}
footer h3{
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
    color: rgb(14, 14, 14, 80%);
}
footer img {
    padding: 15px;
}